body{
    letter-spacing: 0px;
}
input{
    outline: none;
    border: none;
    border-bottom:1px solid rgb(204, 190, 190) ;
    font-family: "Lucida Console", "Courier New", monospace;
}
input[type="text"]{
    width: 85%;
}
